<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio Sesión</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="images/icons/pestania.png"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-5">
						Bienvenido
					</span>
					<span class="login100-form-title p-b-48">
						<img class="imagenentrada col-lg-8 col-xs-12" src="images/icons/nightraid.png">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="usuario" placeholder="Usuario" autocomplete="off">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass"><i class="zmdi zmdi-eye"></i></span>
						<input class="input100" type="password" name="pass" placeholder="Contraseña" autocomplete="off">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Iniciar Sesión
							</button>
						</div>
					</div>

					<div class="text-center p-t-30">
						<span class="txt1">
							¿No tiene Cuenta?
						</span>

						<a class="txt2" href="#">
							Regístrese
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>